.StepsPlot {
  path.grid-line {
    stroke: grey;
  }

  path.diagonal {
    stroke: grey;
  }

  path.current-diagonal {
    stroke: black;
    stroke-width: 2;
  }

  text.axis-label {
    alignment-baseline: middle;
    text-anchor: end;
  }

  circle.current-signal-value {
    stroke: blue;
    fill: blue;
  }

  circle.signal-value {
    stroke: black;
    fill: black;
  }

  circle.unused-signal-value {
    stroke: none;
    fill:grey;
  }

  circle.current-kernel-value {
    stroke: green;
    fill: green;
  }

  circle.previous-out-signal-value {
    stroke: grey;
    fill: grey;
  }

  circle.current-out-signal-value {
    stroke: none;
    fill: orange;
  }

  circle.future-out-signal-value {
    stroke: black;
    fill: none;
  }
}