.CurveControl {
  background: #d0d0d0;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 20px;
  width: 750px;
  height: 300px;
  user-select: none;
  justify-content: flex-start;

  text.active-change-description {
  }

  rect.active-change-description {
    fill: lightgray;
  }

  path.horizontal-line {
    stroke: green;
    stroke-width: 2;
  }

  path.vertical-line {
    stroke-width: 2;
  }

  path.curve{
    fill: none;
    stroke: black;
    stroke-width: 2;
  }

  circle.knob {
    fill: #a5a3a3;
    stroke: black;
    stroke-width: 1;
  }
}