.CurveControl {
  background: #d0d0d0;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 20px;
  width: 750px;
  height: 300px;
  user-select: none;
  justify-content: flex-start;
  touch-action: none;

  svg {
    cursor: pointer;
  }

  text.angle-label {
    font-family: sans-serif;
    font-size: 18px;
    fill: green;
    text-anchor: middle;
  }

  text.vertical-line-label {
    alignment-baseline: middle;
    font-family: sans-serif;
    font-size: 18px;
  }

  text.active-change-description {
  }

  rect.active-change-description {
    fill: lightgray;
  }

  path.horizontal-line {
    stroke: green;
    stroke-width: 4;
  }

  path.vertical-line {
    stroke-width: 4;
  }

  path.curve{
    fill: none;
    stroke: black;
    stroke-width: 2;
  }

  circle.knob {
    fill: #a5a3a3;
    stroke: black;
    stroke-width: 1;
  }
}