.FrequencyDomainControl {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin-top: 20px;
  min-width: 600px;

  svg {
    rect.knob {
      cursor: pointer;
      fill: #a5a3a3;
      stroke: black;
      rx: 4;
    }

    rect.channel {
      fill: #efefef;
      stroke: #555454;
    }
  }
}

