.FrequencyDomainControl {
  background: white;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin-top: 20px;
  min-width: 600px;
  user-select: none;

  svg {
    rect.knob {
      cursor: pointer;
      fill: #a5a3a3;
      stroke: black;
      rx: 4;
    }

    rect.channel {
      cursor: pointer;
      fill: #efefef;
      stroke: #555454;
    }

    rect.channel-background {
      cursor: pointer;
      fill: white;
      stroke: none;
    }
  }
}

