.TopNav {
  border-bottom: #555454 1px solid;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 0;
  text-align: center;
  width: 95%;

  div.right-nav-link a {
    margin-left: 10px;
  }

  a {
    color: #0366d6;
    font-size: 1rem;
    padding: 5px 5px;
    text-decoration: none;
  }

  a:hover {
    background: #ced2d9;
    border-radius: 6px;
  }
}