.UnitCircleControl {
  background: #d0d0d0;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  user-select: none;
  justify-content: flex-start;

  text.active-change-description {
  }

  rect.active-change-description {
    fill: lightgray;
  }

  circle.background-circle {
    stroke: black;
    fill: none;
  }

  path.horizontal-line {
    stroke: black;
  }

  path.vertical-line {
    stroke: black;
  }
}