.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;


  h1, h2, h3, h4 {
    text-align: left;
    margin: 5px 0 5px 0;
  }

  ul li {
    padding-bottom: 4px;
  }

  a {
    cursor: pointer;
  }
}

