.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;


  h1, h2, h3, h4 {
    text-align: left;
    margin: 5px 0 5px 0;
  }

  ul li {
    padding-bottom: 4px;
  }

  a {
    cursor: pointer;
  }

  input[type=number] {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }
}

