.App {
  background: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  div.topic {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    width: 80%;

    div.title {
      text-align: left;
      font-size: larger;
      font-weight: bold;
      margin-bottom: 6px;
    }

    div.sub-title {
      text-align: left;
      font-weight: bold;
    }

    div.context {
      padding-top: 5px;
      text-align: left;
    }

    div.key-idea {
      background: #f6ebb0;
      margin: 10px 0;
      padding: 10px 2px;
    }

    ul.examples li {
      padding-bottom: 4px;
    }
  }

  div.row {
    width: 100%;
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  a {
    cursor: pointer;
  }
}

