.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div.topic {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    width: 80%;
  }

  div.row {
    width: 100%;
    display: flex;
    flex-grow: 2;
    flex-direction: row;
  }
}

