.CurveControl {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;

  p.MuiTypography-root {
    margin: 0 10px 0 0;
  }
}
