.CurveControl {
  text-align: center;
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;

  .float-input {
    margin-right: 10px;
  }
}
